/* '*' sets the properties in it globally */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Archivo', sans-serif;
}
/* Way around to set the opacity of the background images' opacity. Create a div with a class attached to it and use ':before' to alter the contents of the div */
.myDiv {
	position: relative;
	z-index: 1;
}

.myDiv:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(./img/seamless-curved-diamond-pattern-2.svg) center center;
	opacity: .05;
}
button {
	font-family: 'Archivo', sans-serif;
}

header {
	display: flex;
	width: 85%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}

.logo {
	font-weight: 500;
	margin: 5px;
}

nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: black;
	font-size: 18px;
	font-weight: 100;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 50px;
	font-weight: 500;
	background: linear-gradient(to right, black, #494964);
	-webkit-background-clip: text; /* To apply the gradient to the text only */
	-webkit-text-fill-color: transparent;
}
.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.801);
}
.cta {
	padding: 50px 0px 0px 0px;
}
.cta-select {
	margin: 0px 30px 0px 0px;
	border: 2px solid #8de6d2;
	background: white;
	color: #49ada8;
	font-size: 16px;
	font-weight: 500;
	width: 150px;
	height: 50px;
	cursor: pointer;
}
.cta-add {
	margin: 30px 0px 0px 0px;
	background: #49ada8;
	color: white;
	font-size: 16px;
	font-weight: 500;
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
}

.cover {
	flex: .6;
}
/* Animation to fade in */
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.cover img {
	height: 89.6vh;
	filter: drop-shadow(0px 10px 400px black);
	animation-name: fade;
	animation-duration: 3s;
}
/* Mobile optimization */
@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
}
